@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100vh;
  background-color: #000000;
  color: #ffffff;
  display: grid;
  grid-template-columns: auto 1fr;
}

#sidebar {
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: #0a0b0f;
  border-right: 1px solid #42434a;
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
}

#sidebar.close { 
  padding: 5px;
  width: 60px;
}

#sidebar ul {
  list-style: none;
}

#sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

#sidebar ul li.active a {
  color: #555afa;
}

#sidebar a, #sidebar .logo {
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  color: #e6e6ef;
  display: flex;
  align-items: center;
  gap: 1em;
}

#sidebar svg {
  flex-shrink: 0;
  fill: #e6e6ef;
}

.rotate svg:last-child {
  rotate: 180deg;
}

#toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}

#toggle-btn:hover {
  background-color: #222533;
}

main {
  padding: min(30px, 7%);
}

main p {
  color: #b0b3c1;
  margin-top: 5px;
  margin-bottom: 15px;
}

.container {
  border: 1px solid #42434a;
  border-radius: 1em;
  margin-bottom: 20px;
  padding: min(3em, 15%);

  h2, p { margin-top: 1em }
}